<div class="bg-wrapper">

		<section data-ng-controller="HomeController">
			<section class="container">
				<div class="jumbotron">
					<h1><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> WanderList</h1>
					<h2>Search. Find. Move.</h2>

					<p class="lead">
						WanderList is for people that are considering moving, and need to scope out the
						new city before they commit to the move.  It's a great way to get a sense of the
						city, what the demographics are, and what type of restaurants are in the area.
						We are constantly adding new data, so check back often.
					</p>
					<div class="animated slideInLeft"><a href="/#!/signup" ><button type="button" class="btn btn-warning btn-lg">Sign Up</button></a></div>
				</div>
			</section>
	</section>

</div>




