<section data-ng-controller="LocationsController">
	<div id="location-search">
		<form name="searchForm" class="form-horizontal" data-ng-submit="search()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="location">Location Search</label>
					<div class="controls">
						<input name="location" type="text" data-ng-model="location" id="location" class="form-control" placeholder="Enter a location" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="list-group">
					<a data-ng-repeat="chart in searchResponses" class="list-group-item">
						<h4 class="list-group-item-heading">{{chart.name[0]}}</h4>
						<img src="{{chart.url[0]}}" alt=""/>
					</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
