<section data-ng-controller="LocationController">
	<form name="searchForm" class="form-horizontal" data-ng-submit="search()" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="control-label" for="location">Location Search</label>
				<div class="controls">
					<input name="location" type="text" data-ng-model="location" id="location" class="form-control" placeholder="Enter a location" required>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default">
			</div>
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
	</form>
</section>
